.contents_zy {
  width: 100%;
  height: auto;
}
.userNav_zy {
  width: 100%;
  height: 100px;
  background-color: #232321;
  overflow: hidden;
}
.userNav_zy li {
  width: 65px;
  height: 65px;
  margin: 0  auto;
  margin-top: 1%;
}
.section1_zy {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.section1_zy .registDiv_zy {
  position: relative;
  height: 497px;
}
.section1_zy .registDiv_zy .iconDiv {
  position: absolute;
  top: -18%;
  left: 30%;
}
.section1_zy .registDiv_zy .registForm_zy_div {
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: 548px;
  margin-top: 8%;
}
.regForm_zy {
  background-color: #ffffff;
  z-index: 1;
  height: 532px;
  width: 50%;
}
.regForm_zy input {
  margin-top: 2%;
  width: 280px;
}
.regForm_zy p {
  font-weight: bold;
  margin-top: 2%;
  font-size: 13px;
}
.regForm_zy .phoneChecks_zy {
  width: 150px;
  display: inline-block;
}
.regForm_zy .buttonCss_zy {
  /* position: absolute;
  height: 35px;
  left: 22%;
  top: 222px; */
}
.regForm_zy .checkboxCss_zy {
  margin-top: -10%;
  height: 15px;
  width: 15px;
}
.regForm_zy span {
  color: #999999;
  display: inline-block;
  margin-top: 15px;
}
.regForm_zy .justGo_zy {
  /* position: absolute;
  left: 0;
  top: 66%; */
  margin-top: 20px;
  width: 280px;
  height: 40px;
}
.regForm_zy .moterP_zy {
  position: absolute;
  left: 220px;
  top: 0%;
  opacity: 0;
  z-index: -1;
  transition: all 0.8s linear;
}
.regForm_zy .moterText_zy {
  font-family: "Times New Roman";
  position: absolute;
  left: 374px;
  top: 260px;
  z-index: 1;
  transition: all 0.8s linear;
}
.regForm_zy .moterText_zy img {
  opacity: 0;
  transition: all 0.8s linear;
}
.line_zy {
  position: absolute;
  top: 0;
  left: 50%;
  height: 428px;
  width: 1px;
  background-color: #999999;
}
.mainCtent_zy {
  position: relative;
  height: auto;
}
.mainCtent_zy .userBnner_zy {
  box-shadow: 1px 0 10px 1px #2B333B;
  overflow: hidden;
  width: 100%;
  height: 500px;
  background-image: url("../images/userimgs/MOBILE2.jpg");
}
.mainCtent_zy .userBnner_zy .userName_zy {
  position: absolute;
  top: 29%;
  left: 22%;
  color: #ffffff;
  font-size: 30px;
}
.mainCtent_zy .userBnner_zy .userPhoto_zy {
  position: absolute;
  left: 7%;
  top: 25%;
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 75px;
  box-shadow: 1px 0 10px 1px #2B333B;
}
.mainCtent_zy .userBnner_zy .userPhoto_zy:before {
  content: "";
  height: 150px;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 75px;
  background-color: #232321;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.mainCtent_zy .userBnner_zy .userPhoto_zy span {
  font-size: 36px;
  color: #ffffff;
  position: absolute;
  left: 38%;
  top: 47%;
  font-weight: bold;
  font-family: "my-font";
  opacity: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
}
.mainCtent_zy .userBnner_zy .userPhoto_zy p {
  color: #ffffff;
  position: absolute;
  left: 26%;
  top: 68%;
  opacity: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
}
.mainCtent_zy .userBnner_zy .userPhoto_zy:hover span {
  opacity: 1;
}
.mainCtent_zy .userBnner_zy .userPhoto_zy:hover p {
  opacity: 1;
}
.mainCtent_zy .userBnner_zy .userPhoto_zy:hover:before {
  opacity: 0.5;
}
.mainCtent_zy .userBnner_zy .user_navBox_zy {
  margin-top: 34%;
  height: 110px;
  width: 100%;
  color: #ffffff;
  background-color: #232321;
}
.mainCtent_zy .userContent_box_zy {
  overflow: hidden;
  margin-top: 6px;
  background-color: #F3F3F3;
  width: 100%;
  height: auto;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy {
  position: relative;
  width: 90%;
  height: 800px;
  margin: 0 auto;
  margin-top: 5%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .left_ul_zy {
  height: auto;
  width: 177px;
  color: #ffffff;
  font-size: 16px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .left_ul_zy ul li {
  text-align: center;
  line-height: 40px;
  background-color: #232321;
  border: 1px solid #F3F3F3;
  margin-top: 5%;
  height: 40px;
  width: 176px;
  list-style: none;
  cursor: pointer;
  transition: all 0.1s linear;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .left_ul_zy ul li:hover {
  background-color: #ffffff;
  color: #232321;
  border-color: #232321;
  outline: 0;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .left_ul_zy ul li:hover a {
  color: #232321;
  text-decoration: none;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .left_ul_zy a {
  color: #FFFFFF;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy {
  height: auto;
  width: 80%;
  position: relative;
  margin-top: -31%;
  margin-left: 20%;
  background-color: #ffffff;
  border-radius: 5px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy span {
  display: inline-block;
  margin-top: 2%;
  margin-left: 2%;
  font-size: 30px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy span:nth-child(2) {
  font-family: "my-font";
  float: right;
  margin-right: 1%;
  transform: scale(1, 1);
  transition: all 0.3s linear;
  cursor: pointer;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy span:nth-child(2):hover {
  transform: rotate(180deg) scale(2, 2);
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy span:nth-child(2) a {
  color: #232321;
  text-decoration: none;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy span:nth-child(2) a:hover {
  color: #b28b60;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .lineX_zy {
  background-color: #999999;
  height: 1px;
  width: 100%;
  margin-top: 2%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy {
  margin-top: 1%;
  margin-left: 3%;
  width: 97%;
  height: auto;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy ul li {
  text-align: center;
  width: 16%;
  height: 40px;
  line-height: 40px;
  list-style: none;
  margin-top: 2%;
  font-size: 16px;
  cursor: pointer;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy ul:nth-child(2) {
  position: absolute;
  width: 88%;
  height: 230px;
  left: 14%;
  top: 63px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy ul:nth-child(2) li {
  text-align: left;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .childNav1_zy {
  margin-top: 1%;
  background-color: #E4E4E4;
  width: 97%;
  height: 40px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .childNav1_zy label {
  margin-left: 1%;
  line-height: 40px;
  font-size: 16px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressForm_zy .leftForm {
  width: 50%;
  height: 200px;
  float: left;
  margin-top: 1%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressForm_zy p {
  margin-top: 2%;
  font-weight: bold;
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressForm_zy input {
  margin-top: 2%;
  width: 280px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressForm_zy .addSave_zy {
  margin-top: 2%;
  width: 110px;
  height: 40px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressForm_zy select {
  width: 90px;
  margin-top: 2%;
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressForm_zy .rightForm {
  width: 50%;
  height: 200px;
  float: right;
  margin-top: 1%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .childNav2_zy {
  background-color: #E4E4E4;
  width: 97%;
  height: 40px;
  margin-top: 2%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .childNav2_zy label {
  margin-left: 1%;
  line-height: 40px;
  font-size: 16px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .add_adressForm_zy p {
  margin-top: 2%;
  font-weight: bold;
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .add_adressForm_zy select {
  width: 90px;
  margin-top: 2%;
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .add_adressForm_zy input {
  margin-top: 2%;
  width: 280px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .add_adressForm_zy .addSave_zy {
  margin-top: 2%;
  width: 110px;
  height: 40px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div {
  width: 100%;
  height: auto;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div .AdressCars-zy {
  position: relative;
  margin-top: 1%;
  margin-right: 2%;
  width: 230px;
  height: 150px;
  border: 1px solid gray;
  display: inline-block;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div .AdressCars-zy .adressUserName_zy {
  margin: 10px 0px 10px 10px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div .AdressCars-zy .adressUserAdress_zy {
  margin: 10px 0px 10px 10px;
  color: gray;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div .AdressCars-zy .adressUserNumber_zy {
  margin: 30px 0px 10px 10px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div .AdressCars-zy .adressUserBtn_zy {
  line-height: 14px;
  height: 25px;
  width: 80px;
  margin: 0px 0px 10px 10px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div .AdressCars-zy a {
  font-size: 13px;
  color: #b28b60;
  margin-left: 1%;
  display: inline-block;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .adressCars-div .AdressCars-zy .adressIcon_zy {
  position: absolute;
  left: 92%;
  top: 87%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tab_dl_zy .selectInpute_zy {
  float: right;
  width: 150px;
  margin-right: 15%;
  margin-top: 0;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tab_dl_zy dt {
  border-bottom: 1px solid #999999;
  width: 15%;
  height: 40px;
  line-height: 40px;
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  float: left;
  font-weight: normal;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tab_dl_zy dt a {
  color: #232321;
  text-decoration: none;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tab_dl_zy dt a:hover {
  color: #b28b60;
  font-weight: bold;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tab_dl_zy .buttonSelect_zy {
  float: right;
  margin-right: 9%;
  margin-top: -4%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy {
  text-align: center;
  margin-top: 2%;
  margin-right: 3%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy input[type="checkbox"] {
  margin-top: -2px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy thead {
  background-color: #E4E4E4;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy tr td {
  line-height: 40px;
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy tr td a {
  color: #232321;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy tr td .shopCarName {
  font-size: 13px;
  color: #232321;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy tr td .orderSelect {
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy tr .deletButton_zy {
  cursor: pointer;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .carTab_ul_zy .car_buttonSelect_zy {
  float: right;
  margin-right: -24%;
  margin-top: 0;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .carTab_ul_zy .carSelectInpute_zy {
  float: right;
  width: 150px;
  margin-right: 15%;
  margin-top: 0;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .changePwd_zy input {
  margin-top: 2%;
  width: 280px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .changePwd_zy p {
  font-weight: bold;
  margin-top: 2%;
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .changePwd_zy .pwd_phoneChecks_zy {
  width: 150px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .changePwd_zy .pwd_get_phone_zy {
  position: absolute;
  height: 35px;
  left: 21%;
  top: 413px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .changePwd_zy .savePwd_zy {
  width: 100px;
  margin-top: 2%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy {
  margin-top: 2%;
  width: 100%;
  height: 100px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy {
  float: left;
  margin-right: 1%;
  cursor: pointer;
  box-shadow: 0 3px 7px 0 #c4c4c4;
  position: relative;
  border: 1px solid #999999;
  height: 100px;
  width: 43%;
  display: inline-block;
  transition: margin-top 0.3s linear;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .left_div_zy {
  text-align: center;
  color: #232321;
  background-color: #b28b60;
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .left_div_zy h3 {
  font-size: 30px;
  margin-top: 5%;
  color: #232321;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .left_div_zy p {
  font-size: 13px;
  margin-top: 20%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy {
  position: absolute;
  left: 41%;
  top: 0;
  width: 59%;
  height: 100px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy h6 {
  font-size: 13px;
  margin-top: 5%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy p {
  font-size: 13px;
  margin-top: 5%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy a {
  color: #232321;
  position: absolute;
  left: 70%;
  top: 67%;
  width: auto;
  height: auto;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy a:hover {
  color: #b28b60;
  font-weight: bold;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .moneyPapers_zy:hover {
  margin-top: -1%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .tables_zy .userSave_moneyDiv_zy .rightpaper_zy {
  border: 1px solid #999999;
  height: 100px;
  width: 40%;
  display: inline-block;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .carTab_ul_zy .car_buttonSelect_zy {
  float: right;
  margin-right: -24%;
  margin-top: 0;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .carTab_ul_zy .carSelectInpute_zy {
  float: right;
  width: 150px;
  margin-right: 15%;
  margin-top: 0;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .changePwd_zy input {
  margin-top: 2%;
  width: 280px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .changePwd_zy p {
  font-weight: bold;
  margin-top: 2%;
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .changePwd_zy .pwd_phoneChecks_zy {
  width: 150px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .changePwd_zy .pwd_get_phone_zy {
  position: absolute;
  height: 35px;
  left: 21%;
  top: 466px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .changePwd_zy .savePwd_zy {
  width: 100px;
  margin-top: 2%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .changePwd_zy i {
  color: red;
  opacity: 0;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .car_childNav2_zy {
  background-color: #E4E4E4;
  width: 97%;
  height: 40px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .car_childNav2_zy input[type="checkbox"] {
  margin-top: 0;
  margin-left: 2%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .car_childNav2_zy label {
  font-size: 13px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .car_childNav2_zy .car_buttomButton_zy {
  margin-left: 72%;
  height: 40px;
  width: 20%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .car_childNav2_zy .begin-aad-adress {
  margin-left: 80%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy {
  margin-top: 2%;
  width: 100%;
  height: auto;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy {
  float: left;
  margin-right: 1%;
  margin-top: 2%;
  cursor: pointer;
  position: relative;
  border: 1px solid #999999;
  height: 100px;
  width: 43%;
  display: inline-block;
  background-color: #FFFFFF;
  box-shadow: 0 3px 7px 0 #c4c4c4;
  transition: all 0.3s linear;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .left_div_zy {
  text-align: center;
  color: #232321;
  background-color: #b28b60;
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .left_div_zy h3 {
  font-size: 30px;
  margin-top: 5%;
  color: #232321;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .left_div_zy p {
  font-size: 13px;
  margin-top: 20%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy {
  position: absolute;
  left: 41%;
  top: 0;
  width: 59%;
  height: 100px;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy h6 {
  font-size: 13px;
  margin-top: 5%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy p {
  font-size: 13px;
  margin-top: 5%;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy a {
  color: #232321;
  position: absolute;
  left: 70%;
  top: 67%;
  width: auto;
  height: auto;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy .right_div_zy a:hover {
  color: #b28b60;
  font-weight: bold;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .moneyPapers_zy:hover {
  box-shadow: 0 10px 7px 0 #c4c4c4;
}
.mainCtent_zy .userContent_box_zy .userContent_main_zy .main_box_zy .tabChange_content_zy .userSave_moneyDiv_zy .rightpaper_zy {
  border: 1px solid #999999;
  height: 100px;
  width: 40%;
  display: inline-block;
}
.message_div_zy {
  box-shadow: 1px 0 10px 1px #9FA4A9;
  position: fixed;
  left: 32%;
  top: 8%;
  height: auto;
  width: 500px;
  display: none;
  background-color: #FFFFFF;
  z-index: 2;
}
.message_div_zy .message_line_x {
  background-color: #999999;
  height: 1px;
  width: 100%;
  margin-top: 2%;
}
.message_div_zy .message_form_zy {
  height: auto;
  width: auto;
}
.message_div_zy .message_form_zy form {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.message_div_zy .message_form_zy form p {
  margin-top: 2%;
  font-weight: bold;
  font-size: 13px;
}
.message_div_zy .message_form_zy form select {
  width: 90px;
  margin-top: 2%;
  font-size: 13px;
}
.message_div_zy .message_form_zy form input {
  margin-top: 2%;
  width: 280px;
}
.message_div_zy .message_form_zy form button {
  margin-top: 2%;
  margin-bottom: 2%;
}
.message_div_zy .message_title_zy {
  height: auto;
  width: 100%;
}
.message_div_zy .message_title_zy span:nth-child(1) {
  display: inline-block;
  margin-top: 2%;
  margin-left: 4%;
  font-size: 16px;
}
.message_div_zy .message_title_zy span:nth-child(2) {
  margin-top: 2%;
  margin-right: 2%;
  float: right;
  font-family: "my-font";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.message_div_zy .message_title_zy span:nth-child(2):hover {
  color: #b28b60;
}
.editMessage_div_zy {
  box-shadow: 1px 0 10px 1px #9FA4A9;
  position: fixed;
  left: 32%;
  top: 8%;
  height: auto;
  width: 500px;
  display: none;
  background-color: #FFFFFF;
  z-index: 2;
}
.editMessage_div_zy .editmessage_line_x {
  background-color: #999999;
  height: 1px;
  width: 100%;
  margin-top: 2%;
}
.editMessage_div_zy .editMessage_form_zy {
  height: auto;
  width: auto;
}
.editMessage_div_zy .editMessage_form_zy form {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
.editMessage_div_zy .editMessage_form_zy form p {
  margin-top: 2%;
  font-weight: bold;
  font-size: 13px;
}
.editMessage_div_zy .editMessage_form_zy form select {
  width: 90px;
  margin-top: 2%;
  font-size: 13px;
}
.editMessage_div_zy .editMessage_form_zy form input {
  margin-top: 2%;
  width: 280px;
}
.editMessage_div_zy .editMessage_form_zy form button {
  margin-top: 2%;
  margin-bottom: 2%;
}
.editMessage_div_zy .editmessage_title_zy {
  height: auto;
  width: 100%;
}
.editMessage_div_zy .editmessage_title_zy span:nth-child(1) {
  display: inline-block;
  margin-top: 2%;
  margin-left: 4%;
  font-size: 16px;
}
.editMessage_div_zy .editmessage_title_zy span:nth-child(2) {
  margin-top: 2%;
  margin-right: 2%;
  float: right;
  font-family: "my-font";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.editMessage_div_zy .editmessage_title_zy span:nth-child(2):hover {
  color: #b28b60;
}
.hiddenBody {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.massageSure {
  box-shadow: 1px 0 10px 1px #9FA4A9;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  height: 169px;
  width: 346px;
  display: none;
  background-color: #FFFFFF;
  z-index: 2;
}
.massageSure .massageSure_line_x {
  background-color: #999999;
  height: 1px;
  width: 100%;
  margin-top: 2%;
}
.massageSure .massageSure_title_zy {
  height: auto;
  width: 100%;
}
.massageSure .massageSure_title_zy span:nth-child(1) {
  display: inline-block;
  margin-top: 2%;
  margin-left: 4%;
  font-size: 16px;
}
.massageSure .massageSure_title_zy span:nth-child(2) {
  margin-top: 2%;
  margin-right: 2%;
  float: right;
  font-family: "my-font";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.massageSure .massageSure_title_zy span:nth-child(2):hover {
  color: #b28b60;
}
.massageSure .massageSure_content_zy {
  position: relative;
  width: 100%;
  height: 50px ;
}
.massageSure .massageSure_content_zy span {
  position: absolute;
  left: 34%;
  top: 74%;
  font-size: 16px;
}
.massageSure .massageSure_content_zy button {
  position: absolute;
  left: 80%;
  top: 181%;

}
.massageSucsess {
  box-shadow: 1px 0 10px 1px #9FA4A9;
  position: fixed;
  left: 47%;
  top: 26%;
  height: auto;
  width: 240px;
  display: none;
  background-color: #FFFFFF;
  z-index: 2;
}
.massageSucsess .massageSure_line_x {
  background-color: #999999;
  height: 1px;
  width: 100%;
  margin-top: 2%;
}
.massageSucsess .massageSure_title_zy {
  height: auto;
  width: 100%;
}
.massageSucsess .massageSure_title_zy span:nth-child(1) {
  display: inline-block;
  margin-top: 2%;
  margin-left: 4%;
  font-size: 16px;
}
.massageSucsess .massageSure_title_zy span:nth-child(2) {
  margin-top: 2%;
  margin-right: 2%;
  float: right;
  font-family: "my-font";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.massageSucsess .massageSure_title_zy span:nth-child(2):hover {
  color: #b28b60;
}
.massageSucsess .massageSure_content_zy {
  position: relative;
  width: 100%;
  height: 50px ;
}
.massageSucsess .massageSure_content_zy span {
  position: absolute;
  left: 4%;
  top: 9%;
  font-size: 13px;
}
.massageSucsess .massageSure_content_zy button {
  position: absolute;
  left: 74%;
  top: 14%;
  margin-top: 2%;
}
