body{
  background-color: #FCFCFC;
  width: 100%;
}
.content{
  position: relative;
  //overflow: hidden;
  background-color: #FCFCFC;
  .logo{
  text-align: center;
  margin: 50px 0 0 0;
  letter-spacing: 2px;
  span{
    font-weight: normal;
    color:#B28B60 ;
    letter-spacing: 5px;
  }
}
  //���
  .left{
    width: 800px;
    height: 550px;
    float: left;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px solid #b28b60;
    margin: 40px 0 0 0;
    background: #FCFCFC;
    //display: none;
    div{
      width: 500px;
      height: 500px;
      margin: 50px auto;
      img{
        width: 500px;
        height: 500px;
      }
    }
  //�ұ�
  }
  .right{
    width: 300px;
    height: 600px;
    //border: 1px solid red;
    float: right;
    margin: 40px 0 0 0;
    h2{
      text-align: center;
      letter-spacing: 2px;
      font-size: 18px;
      font-weight: normal;
      color: #b28b60;
    }
    .choose{
      width: 140px;
      margin: 0 auto;
      overflow: hidden;
      .btnly{
        width: 140px;
        height:40px;
        display: block;
        margin-top: 33px;
      }
    }
  }
  //��ʽ
  .pattern{
    position: absolute;
    top: 60px;
    left: 888px;
    width: 300px;
    height: 600px;
    background-color: #FCFCFC;
    //border: 1px solid green;
    overflow: hidden;
    display: none;
    h3{
      font-size: 16px;
      text-align: center;
      //margin-top: 20px;
      letter-spacing: 2px;
    }
    .close{
    font-family: my-font;
    position: absolute;
    top: 1px;;
    left: 280px;
    font-size: 20px;
    cursor: pointer;
    }
    div{
      width: 220px;
      height: 160px;
      margin: 0 auto;
      margin-top: 20px;
      position: relative;
      img{
        width: 220px;
        height: 120px;
        cursor: pointer;
      }
      p{
        //position: absolute;
        //top: 30px;
        //left: 90px;
        color: #b28b60;
        font-size: 14px;
        opacity: 0.8;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  //����
  .braces{
    position: absolute;
    top: 60px;
    left: 888px;
    width: 300px;
    height: 600px;
    background-color: #FCFCFC;
    display: none;
    //border: 1px solid green;
    overflow: hidden;
    h3{
      font-size: 16px;
      text-align: center;
      letter-spacing: 2px;
    }
    .close{
      font-family: my-font;
      position: absolute;
      top: 1px;;
      left: 280px;
      font-size: 20px;
      cursor: pointer;
    }
    div{
      width: 220px;
      height: 160px;
      margin: 20px auto;
      position: relative;

      img{
        width: 220px;
        height: 120px;
        cursor: pointer;
      }
      p{
        //position: absolute;
        //top: 20px;
        //left: 90px;
        color: #b28b60;
        font-size: 14px;
        opacity: 0.8;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  //�ż�
  .tiptoe{
    position: absolute;
    top: 60px;
    left: 888px;
    width: 300px;
    height: 600px;
    background-color: #FCFCFC;
    display: none;
    //border: 1px solid green;
    overflow: hidden;
    h3{
      font-size: 16px;
      text-align: center;
      //margin-top: 20px;
      letter-spacing: 2px;
    }
    .close{
      font-family: my-font;
      position: absolute;
      top: 1px;;
      left: 280px;
      font-size: 20px;
      cursor: pointer;
    }
    div{
      width: 220px;
      height: 160px;
      position: relative;
      margin: 20px auto;
      img{
        width: 220px;
        height: 120px;
        cursor: pointer;
      }
      p{
        //position: absolute;
        //top: 5px;
        //left: 100px;
        color: #b28b60;
        font-size: 14px;
        opacity: 0.8;
        letter-spacing: 2px;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
  //Ь��
  .heel{
    position: absolute;
    top: 60px;
    left: 888px;
    width: 300px;
    height: 600px;
    background-color: #FCFCFC;
    display: none;
    //border: 1px solid green;
    overflow: hidden;
    h3{
      font-size: 16px;
      text-align: center;
      //margin-top: 20px;
      letter-spacing: 2px;
    }
    .close{
      font-family: my-font;
      position: absolute;
      top: 1px;;
      left: 280px;
      font-size: 20px;
      cursor: pointer;
    }
    div{
      width: 220px;
      height: 160px;
      margin: 20px auto;
      position: relative;
      img{
        width: 220px;
        height: 120px;
        cursor: pointer;
      }
      p{
        //position: absolute;
        //top: 20px;
        //left: 100px;
        color: #b28b60;
        font-size: 14px;
        opacity: 0.8;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
  //װ��
  .decorate{
    position: absolute;
    top: 60px;
    left: 888px;
    width: 300px;
    height: 600px;
    background-color: #FCFCFC;
    display: none;
    //border: 1px solid green;
    overflow: hidden;
    h3{
      font-size: 16px;
      text-align: center;
      //margin-top: 20px;
      letter-spacing: 2px;
    }
    .close{
      font-family: my-font;
      position: absolute;
      top: 1px;;
      left: 280px;
      font-size: 20px;
      cursor: pointer;
    }
    div{
      width: 220px;
      height: 160px;
      margin: 20px auto;
      position: relative;
      img{
        width: 220px;
        height: 120px;
        cursor: pointer;
      }
      p{
        //position: absolute;
        //top: 30px;
        //left: 100px;
        color: #b28b60;
        font-size: 14px;
        opacity: 0.8;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 10px;
      }
    }
  }
//  ��ɫ
  .hue{
    position: absolute;
    top: 60px;
    left: 888px;
    width: 300px;
    height: 600px;
    background-color: #F9F9F9;
    display: none;
    //border: 1px solid green;
    //overflow: hidden;
    h3{
      font-size: 16px;
      text-align: center;
      //margin-top: 20px;
      letter-spacing: 2px;
    }
    .close{
      font-family: my-font;
      position: absolute;
      top: 1px;;
      left: 280px;
      font-size: 20px;
      cursor: pointer;
    }
    //ǰ���
    .panel{
      width: 250px;
      height: 65px;
      margin: 0 auto;
      //border: 1px solid red;
      overflow: hidden;
      margin-top: 70px;
      h6{
        float: left;
        margin-left: 15px;
        margin-top: 20px;
        font-size: 14px;
        letter-spacing: 2px;
      }
      .white{
        width: 60px;
        height: 60px;
        background-color: white;
        float: left;
        //margin-left: 20px;
        cursor: pointer;
        border: 1px solid #b28b60;
        margin: 1px 0 0 20px;
      }
      .red{
        width: 60px;
        height: 60px;
        background-color: red;
        float: left;
        margin-left: 30px;
        cursor: pointer;
      }
    }
    //���
    .rear-cover{
      width: 250px;
      height: 65px;
      margin: 0 auto;
      //border: 1px solid red;
      overflow: hidden;
      margin-top: 100px;
      h6{
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 14px;
        letter-spacing: 2px;
      }
      .white{
        width: 60px;
        height: 60px;
        background-color: white;
        float: left;
        margin-left: 31px;
        cursor: pointer;
      }
      .red{
        width: 60px;
        height: 60px;
        background-color: red;
        float: left;
        margin-left: 30px;
        cursor: pointer;
      }
    }
  //  Ь��
    .shoe-heel{
      width: 250px;
      height: 65px;
      margin: 0 auto;
      //border: 1px solid red;
      overflow: hidden;
      margin-top: 100px;
      h6{
        float: left;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 14px;
        letter-spacing: 2px;
      }
      .white{
        width: 60px;
        height: 60px;
        background-color: white;
        float: left;
        margin-left: 31px;
        cursor: pointer;
      }
      .red{
        width: 60px;
        height: 60px;
        background-color: red;
        float: left;
        margin-left: 30px;
        cursor: pointer;
      }
    }
  }
}
.menu{
  position: absolute;
  top: 118px;
  left: 150px;
  width: 500px;
  height: 600px;
  display: none;
  cursor: move;
  overflow: hidden;
  //border: 1px solid red;
  .list{
    width: 600px;
    height: 500px;
    img{
      width: 500px;
      height: 500px;
    }
  }
}
.zuo{
  font-family: my-font;
  position: absolute;
  top: 350px;
  left: 400px;
  color: #DFC377;
  font-size: 24px;
  cursor: pointer;
  opacity: .5;
}
.you{
  font-family: my-font;
  position: absolute;
  top: 350px;
  left: 440px;
  color: #DFC377;
  font-size: 24px;
  cursor: pointer;
  opacity: .5;
}
.tuo{
  position: absolute;
  top: 350px;
  left: 420px;
  color: #DFC377;
  cursor: pointer;
  opacity: .5;
}

#box {
  width: 50px;
  height: 50px;
  cursor: move;
  position: absolute;
  top: 160px;
  left: 1020px;
  //box-shadow: 10px 10px 25px #ccc;
  background-image: url("../images/customs/zuan2.png");
  background-repeat:no-repeat;
  background-size: cover;
  display: none;
    img{
      width: 50px;
      height: 50px;
      cursor: move;
    }
}
#coor {
  width: 10px;
  height: 10px;
  overflow: hidden;
  cursor: se-resize;
  position: absolute;
  right: 0;
  bottom: 0;
  //background-color: white;
}
.embellish{
  position: absolute;
  top: 60px;
  left: 888px;
  width: 300px;
  height: 600px;
  background-color: #F9F9F9;
  display: none;
  //border: 1px solid green;
  overflow: hidden;
  h3{
    font-size: 16px;
    text-align: center;
    //margin-top: 20px;
    letter-spacing: 2px;
  }
  .close{
    font-family: my-font;
    position: absolute;
    top: 1px;;
    left: 280px;
    font-size: 20px;
    cursor: pointer;
  }
  p{
    position: absolute;
    top: 200px;
    left: 105px;
    color: #b28b60;
    letter-spacing: 1px;
  }
  #fileUpload{
    position: absolute;
    top: 300px;
    left: 80px;
  }
}
.pattern-div1{
  outline: 1px solid #b28b60;
}
.braces-div1{
  outline: 1px solid #b28b60;
}
.tiptoe-div1{
  outline: 1px solid #b28b60;
}
.heel-div1{
  outline: 1px solid #b28b60;
}
.decorate-div1{
  outline: 1px solid #b28b60;
}
