<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/g-nav.css"/>
    <link rel="stylesheet" type="text/css" href="css/g-footer.css"/>
    <link rel="stylesheet" href="css/aboutUs.css" />
</head>
<body>
    <!--这是导航-->
    <%-include g-nav.html%>
    <div id="box">
        <section id="aboutUs">
        <!-- banner图-->
        <div class="banner_o">
            <a href="#">
                <img src="images/aboutus/banner-ls.png"/></a>
        </div>
        <!--标题-->
        <div class="title_o">
            <p>ULIFE&nbsp;<span>品牌故事</span></p>
            <div class="title_o_div">Brand Story</div>
        </div>
        <!--四板块-->
        <div class="section_one_ls">
            <div class="section_one_o">
                <a href="#">
                    <img src="images/aboutus/renwu.png" class="picture"/>
                </a>
            </div>
                <div class="section_one_t">
                    <h1>传承意大利传统工艺    品鉴意式手作艺术</h1>
                    <div class="d1"></div>
                        <p>ULIFE来自意大利一个传统的皮鞋定制家族，生于有着艺
                            术之城的意大利造鞋大区威尼托（Veneto），专为高贵
                            女士定制鞋品。</p>
                    <span>--匠心</span>
                </div>
        </div>
        <div class="section_two_ls">
            <div class="section_two_o">
                <h1>传承意大利传统工艺    品鉴意式手作艺术</h1>
                <div class="d2"></div>
                <p>细嫩的触感让您无论走多久，也不会感觉累脚，高品质
                    精细做工，能让您更性感，更迷人，更高挑，更时尚，
                    更自然。真正体现一双好的鞋子能让您展现你的美丽。</p>
                <span>--别致</span>
            </div>
            <div class="section_two_t">
                <a href="#">
                    <img src="images/aboutus/caijian.png" class="picture"/>
                </a>
            </div>
        </div>
        <div class="section_three_ls">
            <div class="section_three_o">
                <a href="#">
                    <img src="images/aboutus/girl.png" class="picture"/>
                </a>

            </div>
            <div class="section_three_t">
                <h1>凸显时尚潮流  引领潮流风尚标</h1>
                <div class="d3"></div>
                <p>每一季，品牌全新标志性配饰ULIFE GABRIELLE女鞋都
                    得到创新诠释。Kaia Gerber演绎斜纹软呢拼接漆皮款
                    式，彰显品牌创意神。 </p>
                <span>--潮流</span>
            </div>

            </div>
        <div class="section_fore_ls">
            <div class="section_fore_o">
                <h1>爱情的奢侈专属，天生女人，以礼相待</h1>
                <div class="d4"></div>
                <p>        开始您的定制旅程...... </p>
                <span> --真情</span>
            </div>
            <div class="section_fore_t">
                <a href="#">
                    <img src="images/aboutus/show.png" class="picture"/>
                </a>

            </div>

        </div>
        <!-- 标题2-->
        <div class="title_t">
            <p>ULIFE&nbsp;<span>联系我们</span></p>
            <div class="title_o_div">About Us</div>
        </div>
        <!-- 联系我们-->
        <div class="contactUs">
         <!-- 联系我们一板块-->
            <div class="contactUs-o">
                <ul>
                    <li>
                        <img src="images/aboutus/客服.png"/>
                        <dl>
                            <dt>24小时客服</dt>
                            <dd>热线电话：400-000-0000</dd>
                       </dl>
                    </li>
                    <li>
                        <img src="images/aboutus/邮箱.png"/>
                        <dl>
                            <dt>邮箱联系</dt>
                            <dd>ulife-vip@jd.com</dd>
                        </dl>
                    </li>
                    <li>
                        <img src="images/aboutus/微信.png"/>
                        <dl>
                            <dt>微信客服</dt>
                            <dd>全年无休，24小时在线</dd>
                        </dl>
                    </li>

                </ul>
            </div>
        <!--联系我们2板块-->
            <div class="contactUs-t">
                <ul>
                    <li>
                        <img src="images/aboutus/招商.png"/>
                        <dl>
                            <dt>招商共邮</dt>
                            <dd>ulife-bd@jd.com</dd>
                        </dl>
                    </li>
                    <li>
                        <img src="images/aboutus/联系地址.png"/>
                        <dl>
                            <dt>联系地址</dt>
                            <dd>成都市高新区天府二街xxx</dd>
                        </dl>
                    </li>
                    <li>
                        <img src="images/aboutus/预约回电.png"/>
                        <dl>
                            <dt>预约回电</dt>
                            <dd>即将上线，敬请期待</dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </section>

    </div>
    <%-include g-footer.html%>
<script src="js/jquery-1.11.3.js" ></script>
<script src="js/g-nav.js"></script>
<script src="js/aboutus.js" ></script>
</body>
</html>