<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pay page</title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/PayP-style-cxx.css"/>
    <link rel="stylesheet" href="css/g-nav.css"/>
</head>
<body>
<%-include g-nav.html%>
<div class="w">
    <div>
        <p id="CS-cxx">我的收银台</p>
    </div>
    <div id="POP">
        <p id="DZ-cxx">正在使用即时到账交易[?]</p>
        <p id="GB-cxx">交易将在2分钟后关闭。请及时付款！</p>
        <p id="JYM-cxx"><span>Order number</span>：<%=orderdata[0].order_bhnum%></p>
        <p id="SJ-cxx">收款方：ULIFE</p>
        <%
        function toDecimal2(x) {
        var f = parseFloat(x);
        if (isNaN(f)) {
        return false;
        }
        var f = Math.round(x*100)/100;
        var s = f.toString();
        var rs = s.indexOf('.');
        if (rs < 0) {
        rs = s.length;
        s += '.';
        }
        while (s.length <= rs + 2) {
        s += '0';
        }
        return s;
        }
        %>
        <p id="JE-cxx"><span><%=toDecimal2(orderdata[0].order_price)%></span>元</p>
    </div>
    <div id="COR-cxx"></div>
    <div id="PPM-cxx">
        <input type="radio" name="ZF" id="InP-cxx1"/> <span>支付宝支付</span>
        <input type="radio" name="ZF" id="InP-cxx2"/> <span>微信支付</span>
        <input type="radio" name="ZF" id="InP-cxx3" checked="checked"/> <span>银联支付</span>
        <div id="FG1"></div>
        <div id="ZFB-cxx"/>
        <img src="images/PayP/ZFB.png" alt="" id="zfbImg-cxx" style="cursor: pointer;">
    </div>
    <div id="WX-cxx">
        <img src="images/PayP/WX.jpg" alt="" id="wxImg-cxx" style="cursor: pointer;"/>
    </div>
    <div id="YL-cxx">
        <img src="images/PayP/YinLian.png" alt="" id="ylImg-cxx" style="cursor: pointer;"/>
    </div>
    <div id="FG2"></div>
    <!--<div>-->
    <!--&lt;!&ndash;<button id="But-cxx">确认支付</button>&ndash;&gt;-->
    <!--</div>-->
</div>
</div>

</body>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/PayP.js"></script>
<script type="text/javascript" src="js/g-nav.js"></script>
</html>
