<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" type="text/css" href="css/g-nav.css"/>
    <link rel="stylesheet" type="text/css" href="css/g-footer.css"/>
    <link rel="stylesheet" href="css/customization.css"/>
</head>
<body ondragstart="return false">
    <%-include g-nav.html%>
<div class="w">
    <div class="content">
        <div class="logo-ss">
            <h1><span>ULIFE</span>爱情专属</h1>
            <p>Love you exclusive</p>
        </div>
        <!-- <div class="logo">
        <h1><span>ULIFE</span>专属于您</h1>
        </div> -->
        <!-- 左边-->
       <div class="left">
           <div>
           <img src="images/customs/1-1.png" class="left-img" alt=""/>
           </div>
       </div>
        <div class="menu">
            <ul class="list">
                <li><img src="images/customs/1-1.png" /></li>
                <li><img src="images/customs/1-2.png" /></li>
                <li><img src="images/customs/1-3.png" /></li>
                <li><img src="images/customs/1-4.png" /></li>
                <li><img src="images/customs/1-5.png" /></li>
                <li><img src="images/customs/1-6.png" /></li>
                <li><img src="images/customs/1-7.png" /></li>
                <li><img src="images/customs/1-8.png" /></li>
                <li><img src="images/customs/1-9.png" /></li>
                <li><img src="images/customs/1-10.png" /></li>
                <li><img src="images/customs/1-11.png" /></li>
                <li><img src="images/customs/1-12.png" /></li>
                <li><img src="images/customs/1-13.png" /></li>
                <li><img src="images/customs/1-14.png" /></li>
                <li><img src="images/customs/1-15.png" /></li>
                <li><img src="images/customs/1-16.png" /></li>
                <li><img src="images/customs/1-17.png" /></li>
                <li><img src="images/customs/1-18.png" /></li>
                <li><img src="images/customs/19.png" /></li>
                <li><img src="images/customs/20.png" /></li>
                <li><img src="images/customs/21.png" /></li>
                <li><img src="images/customs/22.png" /></li>
                <li><img src="images/customs/23.png" /></li>
                <li><img src="images/customs/24.png" /></li>
                <li><img src="images/customs/25.png" /></li>
                <li><img src="images/customs/26.png" /></li>
                <li><img src="images/customs/27.png" /></li>
                <li><img src="images/customs/28.png" /></li>
                <li><img src="images/customs/29.png" /></li>
                <li><img src="images/customs/30.png" /></li>
                <li><img src="images/customs/31.png" /></li>
                <li><img src="images/customs/32.png" /></li>
                <li><img src="images/customs/33.png" /></li>
                <li><img src="images/customs/34.png" /></li>
                <li><img src="images/customs/35.png" /></li>
                <li><img src="images/customs/37.png" /></li>
            </ul>
        </div>
        <div>
            <span class="zuo">&#xe64a;</span>
            <span class="you">&#xe662;</span>
            <span class="tuo">旋转</span>
        </div>

        <!-- 右边-->
       <div class="right">
           <h2>您的专属您来选择</h2>
           <div class="choose">
           <button class="btnly btn1">款式</button>
           <button class="btnly btn2">背带</button>
           <button class="btnly btn3">脚尖类型</button>
           <button class="btnly btn4">鞋跟样式</button>
           <button class="btnly btn5">装饰</button>
           <button class="btnly btn6">颜色</button>
           <button class="btnly btn7">个性化专属</button>
           </div>
       </div>
        <!-- 款式-->
        <div class="pattern">
            <h3>选择您喜欢的款式:</h3>
            <span class="close close1">&#xe60e;</span>
            <div class="pattern-div pattern-div1">
            <img src="images/customs/image(38).jpg" class="pattern-img1" alt=""/>
                <p>经典款</p>
            </div>
            <div class="pattern-div">
            <img src="images/customs/image(29).jpg" class="pattern-img2" alt=""/>
                <p>清凉款</p>
            </div>
            <div class="pattern-div">
            <img src="images/customs/image(28).jpg" class="pattern-img3" alt=""/>
                <p>复古款</p>
            </div>
        </div>
        <!-- 背带-->
        <div class="braces">
            <h3>选择背带:</h3>
            <span class="close close2">&#xe60e;</span>
            <div class="braces-div braces-div1">
                <img src="images/customs/image(38).jpg" class="braces-img1" alt=""/>
                <p>经典</p>
            </div>
            <div class="braces-div">
                <img src="images/customs/image(9).jpg" class="braces-img2" alt=""/>
                <p>时尚</p>
            </div>
            <div class="braces-div">
                <img src="images/customs/image(30).jpg" class="braces-img3" alt=""/>
                <p>复古</p>
            </div>
        </div>
        <!-- 脚尖类型-->
        <div class="tiptoe">
            <h3>选择脚尖类型:</h3>
            <span class="close close3">&#xe60e;</span>
            <div class="tiptoe-div tiptoe-div1">
                <img src="images/customs/image(16).jpg" class="tiptoe-img1" alt=""/>
                <p>经典</p>
            </div>
            <div class="tiptoe-div">
                <img src="images/customs/image(32).jpg" class="tiptoe-img2" alt=""/>
                <p>潮流</p>
            </div>
            <div class="tiptoe-div">
                <img src="images/customs/image(10).jpg" class="tiptoe-img3" alt=""/>
                <p>新式</p>
            </div>
        </div>
        <!--鞋跟样式-->
        <div class="heel">
            <h3>选择鞋跟样式:</h3>
            <span class="close close4">&#xe60e;</span>
            <div class="heel-div heel-div1">
                <img src="images/customs/image(15).jpg" class="heel-img1" alt=""/>
                <p>普通</p>
            </div>
            <div class="heel-div">
                <img src="images/customs/image(21).jpg" class="heel-img2" alt=""/>
                <p>细跟</p>
            </div>
            <div class="heel-div">
                <img src="images/customs/image(39).jpg" class="heel-img3" alt=""/>
                <p>粗跟</p>
            </div>
        </div>
        <!-- 装饰-->
        <div class="decorate">
            <h3>选择装饰样式:</h3>
            <span class="close close5">&#xe60e;</span>
            <div class="decorate-div decorate-div1">
                <img src="images/customs/image(12).jpg" class="decorate-img1" alt=""/>
                <p>经典</p>
            </div>
            <div class="decorate-div">
                <img src="images/customs/image(11).jpg" class="decorate-img2" alt=""/>
                <p>蝴蝶带</p>
            </div>
            <div class="decorate-div">
                <img src="images/customs/image(13).jpg" class="decorate-img3" alt=""/>
                <p>蝴蝶结</p>
            </div>
        </div>
        <!-- 颜色-->
        <div class="hue">
            <h3>选择颜色:</h3>
            <span class="close close6">&#xe60e;</span>
            <!-- 面板-->
            <div class="panel clearfix">
                <h6>前面板:</h6>
                <div class="white white1 panel-div"></div>
                <div class="red red1 panel-div"></div>
            </div>
            <!-- 后盖-->
            <div class="rear-cover clearfix">
                <h6>后盖:</h6>
                <div class="white white2 panel-div"></div>
                <div class="red red2 panel-div"></div>
            </div>
            <!-- 鞋跟-->
            <div class="shoe-heel clearfix">
                <h6>鞋跟:</h6>
                <div class="white white3 panel-div"></div>
                <div class="red red3 panel-div"></div>
            </div>
        </div>
        <!-- 自定义装饰-->
        <div class="embellish">
            <h3>个性化装饰:</h3>
            <span class="close close7">&#xe60e;</span>
            <p>拖到你想在的位置</p>
            <div id="wrapper">
                <input id="fileUpload" class="btnly" type="file" /><br />
                <div id="image-holder"> </div>
            </div>
        </div>
        <div id="box">
            <div id="coor"></div>
        </div>
        <button class="btnly gobuy">点击购买</button>
    </div>
</div>
<%-include g-footer.html%>
</body>
<!-- <script type="text/javascript" src="js/less.min.js"></script> -->
<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
<script src="js/g-nav.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="js/customization.js"></script>
<script type="text/javascript">
    $("#fileUpload").on('change', function () {

        if (typeof (FileReader) != "undefined") {

            var image_holder = $("#image-holder");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img/>", {
                    "src": e.target.result,
                    "class": "thumb-image"
                }).appendTo(box);

            };
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("你的浏览器不支持FileReader.");
        }
            var src = $('.thumb-image').attr('src');
            $("#box").css(background-image,"url(src)")
    });
</script>
</html>