<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ULIFE个人中心</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/userCenter_zy.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/g-nav.css"/>
    <link rel="stylesheet" href="css/g-footer.css"/>
</head>
<body>
<!--遮罩层-->
<div class="hiddenBody"></div>
<!--添加地址模态框-->
<div class="message_div_zy">
    <div class="message_title_zy">
        <span>新增收货地址</span>
        <span class="exsitMessage">&#xe60e;</span>
    </div>
    <!--横线-->
    <div class="message_line_x"></div>
    <div class="message_form_zy">
        <!--地址表单  路由开始-->
        <form>
            <p>收货人姓名</p>
            <input type="text" placeholder="请输入收货人姓名" class="input-css-zy saveName">
            <p>常用电话</p>
            <input type="text" placeholder="请输入常用电话号码" class="input-css-zy saveNumber">
            <p>选择地点</p>
            <select name=""  class="form-control-zy saveProvince">
                <option value="四川省">四川省</option>
                <option value="东北省">东北省</option>
                <option value="湖南省">湖南省</option>
            </select>
            <select name=""  class="form-control-zy saveCitys">
                <option value="成都市">成都市</option>
                <option value="北京市">北京市</option>
                <option value="上海市">上海市</option>
            </select>
            <select name=""  class="form-control-zy saveArea">
                <option value="武侯区">武侯区</option>
                <option value="天府新区">天府新区</option>
                <option value="双流区">双流区</option>
            </select>
            <p>详细地址</p>
            <input type="text" placeholder="请输入详细地址" class="input-css-zy saveUserDetiledress">
            <button class="bnt-zy exsitMessage" id="SaveAdress">保存</button>
        </form>
    </div>
</div>

<!--修改地址模态框-->
<div class="editMessage_div_zy" addressMassage="">
    <div class="editmessage_title_zy">
        <span>修改收货地址</span>
        <span class="exsitEditMessage">&#xe60e;</span>
    </div>
    <!--横线-->
    <div class="editmessage_line_x"></div>
    <div class="editMessage_form_zy">
        <!--地址表单  路由开始-->
        <form>
            <p>收货人姓名</p>
            <input type="text" placeholder="请输入收货人姓名" class="input-css-zy editName">
            <p>常用电话</p>
            <input type="text" placeholder="请输入常用电话号码" class="input-css-zy editNumber">
            <p>选择地点</p>
            <select name=""  class="form-control-zy editProvince">
                <option value="四川省">四川省</option>
                <option value="东北省">东北省</option>
                <option value="湖南省">湖南省</option>
            </select>
            <select name=""  class="form-control-zy editCitys">
                <option value="成都市">成都市</option>
                <option value="北京市">北京市</option>
                <option value="上海市">上海市</option>
            </select>
            <select name=""  class="form-control-zy editArea">
                <option value="武侯区">武侯区</option>
                <option value="天府新区">天府新区</option>
                <option value="双流区">双流区</option>
            </select>
            <p>详细地址</p>
            <input type="text" placeholder="请输入详细地址" class="input-css-zy editDetil">
            <button class="bnt-zy exsitEditMessage">保存</button>
        </form>
    </div>
</div>

<div class="contents_zy">
    <!--导航-->
    <%-include g-nav.html%>
    <!--主要内容-->
    <div class="w mainCtent_zy">
        <!--banner部分图片-->
        <%-include userBnner-commen.html%>
        <div class=" w userContent_box_zy">
            <div class="userContent_main_zy">
                <%-include userLeft-tab-commen.html%>
                <div class="main_box_zy">
                    <span>我的地址管理</span>
                    <span> <a href="userEdit_zy.html">&#xe78a;</a></span>
                    <!--横线-->
                    <div class="lineX_zy"></div>
                    <div class="tabChange_content_zy">
                        <!--灰色隔条-->
                        <div class="childNav1_zy">
                            <!--收货人地址-->
                            <label>收货人信息</label>
                        </div>
                        <!--地址卡片-->
                        <div class="adressCars-div">
                            <!--一张张地址卡-->
                            <%for(let i=0;i<datacar1.length;i++){%>
                            <div class="AdressCars-zy">
                                <p class="adressUserName_zy"><%=datacar1[i].addr_sh_user%></p>
                                <p class="adressUserAdress_zy">
                                    <i><%=datacar1[i].addr_pro%></i>
                                    <i><%=datacar1[i].addr_city%></i>
                                    <i><%=datacar1[i].addr_area%></i>
                                    <i><%=datacar1[i].addr_detail%></i>
                                </p>
                                <p class="adressUserNumber_zy"><%=datacar1[i].addr_sh_tel%></p>
                                <!--<button  class=" adressUserBtn_zy bnt-zy">默认地址</button>-->
                                <a class="editAddress_zy" adressId="<%=datacar1[i].addr_id%>" href="javascript:;">编辑</a>
                                <%if(datacar1[i].addr_default==1){%>
                                <i><strong>>>默认地址</strong></i>
                                <%}else{%>
                                <i></i>
                                <%}%>
                                <%if(datacar1[i].addr_default==1){%>
                                <div class="adressIcon_zy">
                                    <img src="images/orderForm/heigou.png" height="20" width="20"/>
                                </div>
                                <%}else{%>
                                <div class="adressIcon_zy">
                                    <img src="">
                                </div>
                                <%}%>
                            </div>
                            <%}%>
                        </div>
                        <div class="car_childNav2_zy">
                            <!--购物车底部灰色条-->
                            <!--引用了购物车的底部灰色样式-->
                            <button  class="bnt-zy car_buttomButton_zy begin-aad-adress" onclick="massageAction()">添加收货地址</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include g-footer.html%>
<script src="js/jquery-1.11.3.js"></script>
<!-- <script src="js/bootstrap.js"></script> -->
<!-- <script src="js/g-nav.js"></script> -->
<script src="js/userCenter_zy.js"></script>
<script type="text/javascript" src="js/g-nav.js"></script>
</body>

</html>