<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ULIFE个人中心</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/userCenter_zy.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/g-nav.css"/>
    <link rel="stylesheet" href="css/g-footer.css"/>
</head>
<body>
<div class="contents_zy">
    <!--导航-->
    <%-include g-nav.html%>
    <!--主要内容-->
    <div class="w mainCtent_zy">
        <!--banner部分图片-->
        <%-include userBnner-commen.html%>
        <div class=" w userContent_box_zy">
            <div class="userContent_main_zy">
                <%-include userLeft-tab-commen.html%>
                <div class="main_box_zy">
                    <span>订单信息</span>
                    <!--横线-->
                    <div class="lineX_zy"></div>
                    <!--个人订单表-->
                    <div class="tabChange_content_zy">
                        <div class="clearfix carTab_ul_zy">
                            <input type="text" placeholder="请输入商品名称" class="input-css-zy carSelectInpute_zy clearfix">
                            <button class="bnt-zy car_buttonSelect_zy clearfix">搜索</button>
                        </div>
                        <!--灰色隔条-->
                        <div class="childNav1_zy">
                            <!--订单信息-->
                            <label>已完成订单</label>
                        </div>
                        <!--表格-->
                        <div class="tables_zy">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td><input type="checkbox" class="selectAll">全选</td>
                                    <td>订单编号</td>
                                    <td>商品</td>
                                    <td>商品名称</td>
                                    <td>单价</td>
                                    <td>数量</td>
                                    <td>实付款</td>
                                    <td>
                                        <select name="" class="form-control-zy orderSelect">
                                            <option value="">交易状态</option>
                                            <option value="1">交易成功</option>
                                            <option value="0">待付款</option>
                                            <option value="-1">过期失败</option>
                                            <option value="-2">未发货</option>
                                            <option value="2">已发货</option>
                                        </select>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <%for(let i=0;i<datacar1.length;i++){%>
                                <tr class="userOption">
                                    <td><input type="checkbox">选择</td>
                                    <td><%=orderInfo[i].order_bhnum%></td>
                                    <td><img src="<%=productInfo[i].pro_img_goods%>" height="100" width="100"/></td>
                                    <td class="shopCarName"><%=productInfo[i].pro_name%></td>
                                    <td><%=productInfo[i].pro_price%></td>
                                    <td><%=OrderDetail[i].order_detail_amount%></td>
                                    <td><%=OrderDetail[i].order_detail_totalPrice%></td>
                                    <%if(orderInfo[i].order_status==1){%>
                                    <td>交易成功</td>
                                    <%}else if(orderInfo[i].order_status==0){%>
                                    <td>未发货</td>
                                    <%}else if(orderInfo[i].order_pay==0){%>
                                    <td>待付款</td>
                                    <%}else if(orderInfo[i].order_pay==1){%>
                                    <td>已付款</td>
                                    <%}else if(orderInfo[i].order_pay==-1){%>
                                    <td>过期失败</td>
                                    <%}%>
                                </tr>
                                <%}%>
                                </tbody>
                            </table>
                        </div>
                        <div class="car_childNav2_zy">
                            <!--购物车底部灰色条-->
                            <input type="checkbox" class="checkboxCss_zy selectAll" >
                            <label>全选</label>
                            <!--引用了购物车的底部灰色样式-->
                            <button class="bnt-zy car_buttomButton_zy">批量删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include g-footer.html%>
<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/userCenter_zy.js"></script>
<script type="text/javascript" src="js/g-nav.js"></script>
</body>

</html>